<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reed.info_manager.mapper.TaskReplyMapper">

    <!--int insertReply(TaskReply taskReply);-->
    <!--String taskReplyContent;-->
    <!--String taskReplyFilePath;-->
    <!--Integer taskResponderId;-->
    <!--Integer taskId;-->
    <!--Date taskReplyTime;-->
    <insert id="insertReply">
        insert into task_reply values(
         default ,
         #{taskReplyContent},
         #{taskReplyFilePath},
         #{taskId},
         #{taskReplyTime},
         #{taskResponderId}
        )
    </insert>
    <!--TaskReply getTaskReplyByTaskId(@Param("taskId") String taskId, @Param("taskResponderId") Integer id);-->
    <select id="getTaskReplyByTaskId" resultType="com.reed.info_manager.entity.TaskReply">
        select  * from task_reply where task_id = #{taskId} and task_responder_id = #{taskResponderId}
    </select>

    <!--int updateTaskReply(TaskReply taskReply);-->
    <update id="updateTaskReply">
        update task_reply set task_reply_content = #{taskReplyContent},task_reply_file_path = #{taskReplyFilePath}
        where task_id = #{taskId} and task_responder_id=#{taskResponderId}
    </update>

    <!--List<TaskReply> getTaskReplyListByTaskId(Integer taskId);-->
    <select id="getTaskReplyListByTaskId" resultType="com.reed.info_manager.entity.TaskReply">
        select * from task_reply where task_id = #{taskId}
    </select>

    <!--List<PieChartData> getTaskReplyMapByUserId(Integer id);-->
    <select id="getTaskReplyMapByUserId" resultType="com.reed.info_manager.entity.PieChartData">
        select g.name as label,count(*) as 'value'
        from task_reply r left join (task_target t, user_group g) on (r.task_id=t.task_id and t.task_target_group_id = g.user_group_id) where r.task_responder_id =  #{id}
        GROUP BY g.name
    </select>


    <!--List<TaskReply> getTaskReplyByTaskGroupNameAndUserId(@Param("userId") Integer userId, @Param("taskGroupId") Integer taskGroupId);-->
    <!--String taskTitle;-->
    <!--String content;-->
    <!--String filePath;-->
    <!--Date replyTime;-->
    <select id="getTaskReplyByTaskGroupNameAndUserId" resultType="com.reed.info_manager.entity.Track">
        select task.task_title as task_title, r.task_reply_content as content , r.task_reply_file_path as file_path , r.task_reply_time as reply_time
         from task_reply r
         left  join task_target t on r.task_id = t.task_id
         left join task on r.task_id = task.task_id
         where r.task_responder_id = #{taskGroupId} and t.task_target_group_id = #{userId}
    </select>
</mapper>
