<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reed.info_manager.mapper.TaskReplyMapper">

    <!--int insertReply(TaskReply taskReply);-->
    <!--String taskReplyContent;-->
    <!--String taskReplyFilePath;-->
    <!--Integer taskResponderId;-->
    <!--Integer taskId;-->
    <!--Date taskReplyTime;-->
    <insert id="insertReply">
        insert into task_reply values(
         default ,
         #{taskReplyContent},
         #{taskReplyFilePath},
         #{taskId},
         #{taskReplyTime},
         #{taskResponderId}
        )
    </insert>
    <!--TaskReply getTaskReplyByTaskId(@Param("taskId") String taskId, @Param("taskResponderId") Integer id);-->
    <select id="getTaskReplyByTaskId" resultType="com.reed.info_manager.entity.TaskReply">
        select  * from task_reply where task_id = #{taskId} and task_responder_id = #{taskResponderId}
    </select>

    <!--int updateTaskReply(TaskReply taskReply);-->
    <update id="updateTaskReply">
        update task_reply set task_reply_content = #{taskReplyContent},task_reply_file_path = #{taskReplyFilePath}
        where task_id = #{taskId} and task_responder_id=#{taskResponderId}
    </update>

    <!--List<TaskReply> getTaskReplyListByTaskId(Integer taskId);-->
    <select id="getTaskReplyListByTaskId" resultType="com.reed.info_manager.entity.TaskReply">
        select * from task_reply where task_id = #{taskId}
    </select>
</mapper>
