<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reed.info_manager.mapper.UserRoleMapper">

    <!--int insertUserRole(UserRole userRole);-->
    <insert id="insertUserRole" >
        insert into user_role values(default,#{userId},#{userGroupId},#{userGroupName})
    </insert>

    <!--UserRole selectUserRoleByUserRole(UserRole userRole);-->
    <select id="selectUserRoleByUserRole" resultType="com.reed.info_manager.entity.UserRole">
        select * from user_role
        where user_group_id=#{userGroupId}
        and user_id = #{userId}
        and user_group_name= #{userGroupName}
    </select>

    <!--List<UserGroup> selectMyJoinUserGroup(Integer id);-->
    <select id="selectMyJoinUserGroup" resultType="com.reed.info_manager.entity.UserGroup">
        select * from user_group where user_group_id in (select  role.user_group_id from user_role role where user_id = #{id})
    </select>


    <!--Integer deleteUserRoleByUserGroupId(Integer userId, Integer userGroupId);-->
    <delete id="deleteUserRoleByUserGroupId">
        delete from user_role where user_id=#{userId} and user_group_id=#{userGroupId}
    </delete>

    <!--Integer selectUserNumByGroupName(List<Integer> taskTargetGroupIds);-->
    <select id="selectUserNumByGroupName" resultType="int">
        select count(*) from user_role where user_group_id in
        <foreach collection="list" item="id" separator="," open="(" close=")">
        #{id}
        </foreach>
    </select>

    <!--List<User> getUserByUserGroupId(Integer userGroupId);-->
    <select id="getUserByUserGroupId" resultType="com.reed.info_manager.entity.User">
        select * from user where id in(
        select user_id from user_role where user_group_id = #{userGroupId})
    </select>

    <!--int deleteUserRoleByUserGroupIdAndUserId(@Param("userGroupId") Integer userGroupId,@Param("userId") Integer userId);-->
    <delete id="deleteUserRoleByUserGroupIdAndUserId">
        delete from user_role where user_group_id=#{userGroupId} and user_id = #{userId}
    </delete>
</mapper>
